{% extends 'base.html' %} {% load static %} {% block title %}Biodata{% endblock%} 
{% block page_title %}HSI Boarding School{% endblock %} {% block content %}
<section>
  <h1>Biodata Santri</h1>
  <p class="center">Kelas 10-C - Jurusan : IT - Asrama Ibnu Taimiyyah</p>

  <hr />

  {% load static %}

  <div class="Pengantar">
    <h2><span>| </span>Biodata Singkat</h2>
    <img
      width="250"
      src="{% static 'images/gw.jpg' %}"
      alt="Photo Of Arash El Zahran Alka"
      class="avatar"
    />

    <p>
      Nama saya adalah Arash El Zahran Alka, biasa dipanggil Zahran atau Alan, saya
      lahir di Jakarta pada tanggal 10 Februari 2010, dan saya saat ini tinggal di daerah
      Jakbar, tepatnya di daerah Meruya Selatan, Kembangan.
    </p>
  </div>

  <br />

  <div class="Avatar-favorit">
    <h2><span>| </span>Hobi</h2>
    <ul>
      <li>Sports</li>
      <li>Photografer</li>
      <li>Design</li>
      <li>Gaming</li>
      <li>Traveling</li>
    </ul>
  </div>

  <br />

  <div class="Avatar-favorit">
    <h2><span>| </span>Cita-cita</h2>
    <ol>
      <li>Ingin menjadi seorang Pilot</li>
      <li>Ingin menjadi seorang yang mahir dalam berbagai bidang olahraga</li>
      <li>Ingin menjadi orang yang bermanfaat bagi sesama</li>
    </ol>
  </div>

  <br />

  <div class="Avatar-favorit">
    <h2><span>| </span>Quote Singkat</h2>
    <p>Quote dari <b>ARISTOTELES</b></p>
    <Quote> “Kita adalah apa yang kita kerjakan berulang kali.”</Quote>
    <hr />
    <p>Quote dari <b>@llzrnnn</b></p>
    <quote>
      <i>Mencintai</i> yang <b>Nyata</b> terkadang lebih menyakitkan daripada
      <i>Mencintai</i> yang <b>tidak nyata</b></quote
    >
  </div>

  <br />

  <div class="Avatar-favorit">
    <h2><span>| </span>Contact Me</h2>
    <p>
      Whatsapp : +62 5713818182
      <br />
      Email : aelzahran10@gmail.com
      <br />
      Instagram :
      <a href="https://www.instagram.com/llzrnnn/?__pwa=1#" target="_blank"
        >@llzrnnn</a
      >
    </p>
  </div>
</section>
{% endblock %}
